---
import Layout from "../layouts/Layout.astro";
import Reparacion from "./Reparacion.astro";
import Tecnicos from "./Tecnicos.astro";
import User from "./User.astro";
---

<Layout title="Welcome to Astro.">
	<!-- <main class="w-full h-screen grid place-items-center">

		<div
			class="w-[500px] h-[350px] rounded-3xl bg-white shadow-2xl flex flex-col items-center justify-center gap-4"
		>
			<input class="upperase" type="text" placeholder="Ingrese numero de celular: " />
			<button
				class="bg-gray-700 grid place-items-center py-4 px-4 w-[200px] rounded-2xl text-white uppercase font-medium shadow-2xl hover:bg-slate-500 hover:text-white"
				>Ingresar</button
			>
		</div>

	</main> -->
	<!-- <User /> -->
	<!-- <Tecnicos	 /> -->
	<Reparacion />
</Layout>
