---
import Layout from "../layouts/Layout.astro";
import TextField from "@mui/material/TextField";
---

<Layout title="Welcome to Astro.">
	<main class="w-full h-screen grid place-items-center">
		<div
			class="w-[350px] h-[300px] rounded-3xl bg-white shadow-2xl flex flex-col items-center justify-around"
		>
			<div class="grid place-items-center gap-4">
				<TextField
					id="standard-basic"
					label="Ingrese numero:"
					variant="standard"
					client:only="react"
				/>
				<TextField
					id="standard-basic"
					label="Ingrese IMEI:"
					variant="standard"
					client:only="react"
				/>
			</div>
			<a
				href="/reparacion"
				class="bg-gray-700 flex flex-row py-4 px-4 w-[200px] rounded-2xl text-white uppercase font-medium shadow-2xl hover:bg-slate-500 hover:text-white justify-between"
				>Ingresar
				
				<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
				</svg>

				</a>
		</div>
	</main>
</Layout>
