---
import FormSearchPhone from "../components/FormSearchPhone";
import Layout from "../layouts/Layout.astro";
import TextField from "@mui/material/TextField";
---

<Layout title="Welcome to Astro.">
	<main class="w-full h-[600px] grid place-items-center">
		<FormSearchPhone client:only="react" />
	</main>
</Layout>
<script>
	
</script>
