---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LESLIE">
  <main class="w-full h-screen ">
    <div class="flex flex-row items-center w-full justify-around">
      <div class="flex flex-col text-white justify-between">
        <h1>Bienvenido !</h1>
        <h1>Juan Morales</h1>
      </div>
      <img src="https://images.pexels.com/photos/4473796/pexels-photo-4473796.jpeg?auto=compress&cs=tinysrgb&w=600" class="bg-cover rounded-full w-16 h-16 "/>
    </div>
    <div class="grid place-items-center gap-4 ">
      <div class="w-[500px] h-[300px] bg-green-300 rounded-2xl ">

      </div>
      <div class="w-[500px] h-[300px] bg-white rounded-2xl ">

      </div>
      <div class="w-[500px] h-[300px] bg-red-300 rounded-2xl ">

      </div>
      <button class="bg-white uppercase text-2xl min-w-[160px] rounded-2xl">Salir</button>
    </div>
  </main>
</Layout>